@model MercadoVentasTP.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidé mi contraseña";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<div class="row m-5">
    <div class="col-12">
        <section id="forgotForm">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-11">
                        <h4>Recuperar contraseña</h4>
                    </div>
                    <div class="col-1">
                        <a href="@Url.Action("Index", "Home")" class="close">
                            <span class="closeLogin" aria-hidden="true">×</span>
                        </a>
                    </div>
                </div>
                <hr class="mb-5 mt-2" />
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger d-block mt-2" })
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 offset-md-3">
                        <input type="submit" value="Recuperar" class="btn btn-outline-success btn-block" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}